h1 {
	font-size:40px;
}
h1,	h2, h3{
	color: orangered;
	border-bottom: 2px solid #ffc629;
	float: left;
	width: 100%;
	padding-bottom: 4px;
}
th {
	background-color: purple;
	color: #ffc629;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
}
th, td {
	padding: 15px;
}
p {
	font-family: 'Times New Roman', Times, serif;
}
a {
	color:darkolivegreen;
}
a:hover {
	text-decoration: none;
	color:purple
}
li::marker {
	color: purple;
}
#header	{
	background-color: #ffc629;
	font-size: 20px;
	width: 100%;
}
#header a:hover {
	background-color: #B2B4B2;
}
#container {
	width: 100%;
	font-size: 100px;
	color: #ffc629;
	background-color: #B2B4B2;
}
#content {
	font-family: 'Times New Roman', Times, serif;
	padding: 1px;
}
#faculty-info {
	text-align: left;
	max-width: 100%;
	border-collapse: collapse;
	overflow-x: scroll;
}
.rounded-image {
	width : 150px;
	height: 150px;
	border-radius: 50%;
	overflow: hidden;
	object-position: left;
}
.button {
	background-color: #ffc629;
	color: black;
	border: 2px;
	border-color:black;
	border-radius: 10px;
	font-size: 20px;
	font-weight: bold;
	text-transform: uppercase;
}
#grades {
    display: none; 
}
#showgrade {
    display: none;
}
.gradform {
    display: none;
    color: black;
    text-shadow: 1px 1px #ffc629; 
}
.undergradform {
    display: none;
    color: black;
	text-shadow: 1px 1px #ffc629; 
}
#hideDrop {
    display: none;
    font-family: 'Times New Roman', Times, serif;
}