h1 {
	font-size:40px;
}
h1,	h2, h3{
	color: orangered;
	border-bottom: 2px solid goldenrod;
	float: left;
	width: 100%;
	padding-bottom: 4px;
}
a:hover {
	text-decoration: none;
}
li::marker {
	color: purple;
}
#header	{
	background-color: goldenrod;
}
#header a:link{}
#header a:visited{}
#header a:hover {
	background-color: red;
}
#header a:active {
	background-color: teal;
}
#container {
	width: 100%;
	font-size: 20px;
}
#faculty-info {
	text-align: left;
	max-width: 100%;
	border-collapse: collapse;
	overflow-x: scroll;
}
.rounded-image {
	width : 150px;
	height: 150px;
	border-radius: 50%;
   overflow: hidden;
   object-position: left;
}