h1	{
	color: green;
	font-size: 40px;
}
h1:after, h2:after {
	content: '';
	display:block;
	border: 2px goldenrod;
}
	li::marker {
	color: purple;
}
#header	{
	background-color: goldenrod;
}
#header a:link{}
#header a:visited{}
#header a:hover {
	background-color: red;
}
#header a:active {
	background-color: teal;
}
#container {
	width: 100%;
	font-size: 20px;
}
#faculty-info {
	text-align: left;
	max-width: 100%;
	border-collapse: collapse;
	overflow-x: scroll;
}
.rounded-image {
	width : 100px;
	height: 100px;
	border-radius: 50%;
   overflow: hidden;
   object-position: left;
}